{% extends 'base.html.twig' %}

{% block title %}New Order
{% endblock %}

{% block body %}
	<section class="text-gray-700 body-font relative">
		{{ form_start(form) }}
		<div class="px-5 py-24 mx-auto flex sm:flex-no-wrap flex-wrap">
			<div class="bg-white p-4 rounded-lg shadow-xl flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0">
				<h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Create Order</h2>
				<p class="leading-relaxed mb-5 text-gray-600">Please fill in your order details.</p>
				{{ form_label(form.address) }}
				{{ form_widget(form.address) }}

				{{ form_label(form.deliver_on) }}
				{{ form_widget(form.deliver_on) }}

				<span class="text-gray-700 text-xl font-semibold">Amount Paid:</span>
				<span class="text-gray-800 text-2xl font-bold mb-2">{{ product.price }}</span>

				<button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">{{ button_label|default('Pay Now') }}</button>
			</div>
		</div>
		{{ form_end(form) }}
	</section>

{% endblock %}
